* {
    pointer-events: auto;
    color: beige;
}

body {
    background-color: black;
}

h2 {
    color: rgb(238, 238, 238);
    margin-bottom: -.5rem;
}

h4 {
    color: black;
}

h5 {
    color: orange;
    margin-bottom: -.5rem;
}

.color-white {
    color: beige;
}

.color-main {
    color: orange;
}

p {
    color: black;
}

.navbar a {
    color: orange;
    font-weight: 600;
}

.active {
    color: rgb(255, 72, 0);
}

.navbar a:hover {
    color: rgb(255, 72, 0);
}

@keyframes easeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .4;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    pointer-events: none; 
}

.background-img {
    background: url('https://res.cloudinary.com/jorgenb/image/upload/v1671452494/static/media/background-img.8b7f25ede20b.jpg') -100px -100px;
    transition: opacity 2s;
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-size: 150%;
    -webkit-mask-image: radial-gradient(circle at 50% 25%, black 0%, rgba(0, 0, 0, 0.5) 95%);
    animation: 1s ease-out 0s 1 easeIn;
    opacity: .4;
}