{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{{ form.media }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <h1 class="text-center color-main">Reservation</h1>
            <form action="" method="POST" class="color-main">
                {% csrf_token %}
                {% if reserved %}
                    <div class="alert alert-success" role="alert">
                        <ul class="list-unstyled">
                            <li>Your reservervation is {{ reserved }}</li>
                            <li>Under the name: {{ form.name.value }}</li>
                            <li>Email: {{ form.email.value }}</li>
                            <li>Phone: {{ form.phone.value }}</li>
                            <li>Number of persons: {{ form.number_of_persons.value }}</li>
                            <li>Date: {{ form.Date.value }}</li>
                            <li>Time: {{ form.time.value }}</li>
                        </ul>
                    </div>
                {% else %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success px-5">Submit</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}