{% extends 'base.html' %}
{% block content %}

<!-- Welcome text -->
<div class="container">
    <h5 class="text-center text-uppercase mt-5">Welcome to</h5>
    <h2 class="text-center text-uppercase">Rusty Tavern</h2>
    <p class="text-center mt-3">The place where you can find calm and relaxing music of old and rustic
        food!
    </p>
</div>

<!-- Cards -->
<div class="container">
    <div class="row justify-content-center">
        <!-- For loop for item_list -->
        {% for item in item_list %}
        <div class="col-md-4 mt-3">
            {% include 'card.html' %}
            <!-- If divisable by 12 it changes the page -->
            {% if forloop.counter|divisibleby:3 %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- If more then 3 pages exists paginate them -->
    {% if is_paginated %}
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <!-- Goes back to the previous page -->
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">&laquo;
                        PREV
                    </a>
                </li>
                {% endif %}

                <!-- Goes forward to the next page -->
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary"> NEXT
                        &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>

{% endblock %}