{% extends 'base.html' %}
{% block content %}

<h1 class="text-center color-main mt-5">Menu</h1>

<div class="container mt-3">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Food</th>
                            <th>Description</th>
                            <th>Likes</th>
                            <th>Reviews</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in item_list %}
                        <tr class="align-middle">
                            <th scope="row">{{ item.title }}</th>
                            <td class="col-7">{{ item.excerpt }}</td>
                            <td>
                                <p class="card-text text-muted h6">
                                    <i class="fa-solid fa-heart"></i> {{ item.number_of_likes }}
                                </p>
                            </td>
                            <td>
                                <p class="card-text text-muted h6">
                                    <i class="fa-solid fa-comment"></i> {{ item.number_of_reviews }}
                                </p>
                            </td>
                            <td>
                                <a href="{% url 'item_detail' item.slug %}" class="btn btn-success">More info /
                                    Review</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
                        </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}