{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">

        <!-- For loop for item_list -->
        {% for item in item_list %}
        <div class="col-md-2">
            <div class="card">
                <!-- Image place holder -->
                {% if 'placeholder' in item.food_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default image"
                    class="card-img-top">
                {% else %}
                <img src="{{ item.food_image.url }}" alt="food image" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ item.title }}</h2>
                    <p class="card-text">{{ item.excerpt }}</p>
                </div>

                <!-- Displaying created on and number of likes -->
                <p class="card-text text-muted h6">
                    <i class="fa-solid fa-heart"></i> {{ item.number_of_likes }}
                    <i class="fa-solid fa-comment"></i> {{ item.reviews.count}}
                </p>
                <div class="card-body">
                    <a href="{% url 'item_detail' item.slug %}" class="btn btn-primary">More info / Review</a>
                </div>
            </div>
        </div>

        <!-- If divisable by 12 it changes the page -->
        {% if forloop.counter|divisibleby:12 %}
        <div class="col">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- If more then 12 cards exists paginate them -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <!-- Goes back to the previous page -->
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
            </li>
            {% endif %}

            <!-- Goes forward to the next page -->
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}