{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        
        <!-- For loop for item_list -->
        {% for item in item_list %}
        <div class="col-4">
            {% include 'card.html' %}

        <!-- If divisable by 12 it changes the page -->
        {% if forloop.counter|divisibleby:12 %}
        
            {% endif %}
        </div>
            {% endfor %}
    </div>
    <!-- If more then 12 cards exists paginate them -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <!-- Goes back to the previous page -->
            
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
            </li>
            {% endif %}

            <!-- Goes forward to the next page -->
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}