{% extends 'base.html' %}

{% block content %}

<h1 class="text-center color-main mt-5">View Reservations</h1>

<div class="container mt-3">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Table for</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservation_list %}
                        <tr class="align-middle">
                            <th scope="row">{{ reservation.Date}}</th>
                            <td>{{ reservation.name }}</td>
                            <td>{{ reservation.email }}</td>
                            <td>{{ reservation.phone }}</td>
                            <td>{{ reservation.table_for }}</td>
                            <td>{{ reservation.Date }}</td>
                            <td>{{ reservation.time }}</td>
                            <td>
                                <a href="../edit/{{ reservation.pk }}">
                                    <button class="btn btn-success">Edit</button>
                                </a>
                            </td>
                            <td>
                                <a href="../delete/{{ reservation.pk }}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}